{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}{{ 'page_title.create_product'|trans }}{% endblock %}
{% block page_title %}{{ 'page_title.create_product'|trans }}{% endblock %}

{% block body %}
  {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.image_file) }}
    {{ form_row(form.desc) }}
    {{ form_row(form.tags) }}
    {% block extpoint %}{% endblock %}

    <div class="form-actions">
      {{ form_row(form.save, {attr: {class: 'btn-primary'}}) }}
    </div>
  {{ form_end(form) }}
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/tagging.css') }}" />
{% endblock %}
{% block javascripts %}
<script src="{{ asset('assets/js/jquery-1.12.1.min.js') }}"></script>
<script src="{{ asset('assets/js/typeahead.min.js') }}"></script>
<script src="{{ asset('assets/js/tagging-bundle.js') }}"></script>
{% endblock %}
