{% extends '::base.html.twig' %}

{% block title %}{{ 'page_title.product_list'|trans }}{% endblock %}

{% block body %}
<div class="container">
  <h1 class="page-title">{{ 'page_title.product_list'|trans }}</h1>
  <table class="table table-striped products-list">
    <thead>
      <th>{{ 'product.name'|trans }}</th>
      <th>{{ 'product.created_at'|trans }}</th>
    </thead>
    <tbody>
      {% for p in products %}
      <tr class="product">
        <td>
          <img class="product-image" src="{{ thumb_image(p, 'image_file') }}">
          <span class="product-name">{{ p.name }}</span>
        </td>
        <td class="product-created-at">
          {{ p.createdAt|date }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
